# Add files here to ignore them from prettier formatting

/dist
/coverage
package-lock.json
.github

.angular

apps/api/src/main.ts
apps/spa/src/assets/config.template.json
libs/spa/observability/src/lib/services/sentry-observability.service.spec.ts

/.nx/cache

migrations.json
