{
	"singleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"printWidth": 80,
	"proseWrap": "always",
	"overrides": [
		{
			"files": [
				"*.ts"
			],
			"options": {
				"parser": "typescript",
				"importOrder": [
					"^@kordis/(.*)$",
					"^[./]"
				],
				"importOrderSeparation": true,
				"importOrderSortSpecifiers": true,
				"importOrderParserPlugins": [
					"classProperties",
					"decorators-legacy",
					"typescript"
				]
			}
		}
	],
	"plugins": [
		"@trivago/prettier-plugin-sort-imports",
		"prettier-plugin-tailwindcss"
	],
	"tailwindConfig": "./apps/spa/tailwind.config.js"
}
