# Add files here to ignore them from prettier formatting

/dist
/coverage
package-lock.json
.github

.angular

apps/api/src/main.ts
apps/spa/src/assets/config.template.json

/.nx/cache

migrations.json
