{
	"singleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"printWidth": 80,
	"importOrder": ["^@kordis/(.*)$", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true,
	"importOrderParserPlugins": ["classProperties", "decorators-legacy", "typescript"],
	"overrides": [
		{
			"files": ["*.ts"],
			"options": {
				"parser": "typescript"
			}
		}
	]
}
