{
	"singleQuote": true,
	"semi": true,
	"trailingComma": "all",
	"printWidth": 80,
	"overrides": [
		{
			"files": ["*.ts"],
			"options": {
				"parser": "typescript"
			}
		}
	],
	"plugins": ["prettier-plugin-tailwindcss"],
	"tailwindConfig": "./apps/client/tailwind.config.js"
}
