:host {
	--row-bg-color: rgba(250, 250, 250, 0.85); /* #fafafa is the background color for table headers in ant */
}

[nz-form] {
	.ant-form-item {
		margin-bottom: 5px;
	}

	.ant-form-item-label {
		padding: 0;
	}
}

.ant-picker, .ant-input-number {
	width: 100%;
}

