name: CI
on:
  push:
    branches:
      - main
  pull_request:
    types:
      - opened
      - synchronize
jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Ensure Conventional Commits
        uses: webiny/action-conventional-commits@v1.1.0
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci

      - uses: nrwl/nx-set-shas@v3
      - name: Check Formatting
        run: |
          if [[ $(npx nx format:check) ]]; then
              npx prettier -w .
              git diff --color | cat
              exit 1
          fi
      - name: Lint
        run: npx nx affected --target=lint --parallel=3

      - name: Run Tests with Code Coverage
        run: npx nx affected --target=test --parallel=3 --ci --coverage --coverageReporters=lcov
      - name: Merge Coverage files
        run: '[ -d "./coverage/" ] && ./node_modules/.bin/lcov-result-merger ./coverage/**/lcov.info ./coverage/lcov.info || exit 0'

      - name: Create SPA Environment File
        run: envsubst < apps/spa/src/environments/environment.template > apps/spa/src/environments/environment.prod.ts
        env:
          IS_PRODUCTION: true
          DEPLOYMENT_NAME: E2E Runner
          API_URL: http://localhost:3000/
          OAUTH_CONFIG: ${{ secrets.DEV_OAUTH_CONFIG }}
      - name: Create API Environment File
        run: |
          envsubst < apps/api/src/.env.template > apps/api/src/.env
          echo "PORT=3000" >> .env
        env:
          MONGODB_URI: mongodb://127.0.0.1:27017/e2edb
      - name: Build
        run: npx nx affected --target=build --parallel=3

      - name: Start and prepare MongoDB for E2Es
        run: ./tools/db/kordis-db.sh init e2edb
      - name: Run E2Es
        run: npm run serve:all:prod & (wait-on tcp:3000 && wait-on http://localhost:4200 && npx nx e2e spa-e2e)
        env:
          TEST_USERS: ${{ secrets.E2E_TEST_USERS }}
          E2E_BASE_URL: http://localhost:4200/

      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
