name: CI
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  main:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - uses: nrwl/nx-set-shas@v3
      - run: npx nx workspace-lint
      - name: Check Formatting
        run: npx nx format:check
      - name: Lint
        run: npx nx affected --target=lint --parallel=3
      - name: Run Tests with Code Coverage
        run: npx nx affected --target=test --parallel=3 --ci --coverage --coverageReporters=lcov
      - name: Merge Coverage files
        run: '[ -d "./coverage/" ] && ./node_modules/.bin/lcov-result-merger ./coverage/**/lcov.info ./coverage/lcov.info || exit 0'
      - name: SonarCloud Scan
        uses: sonarsource/sonarcloud-github-action@master
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
      - name: Build
        run: npx nx affected --target=build --parallel=3
      - name: Run e2es
        run: npx nx affected --target=e2e
