name: Check for new NX version

on:
  schedule:
    - cron: "0 0 * * *" # every day at midnight

jobs:
  nx-migration:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
      - name: Setup node
        uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
          cache: 'npm'
      - run: npm ci
      - uses: timonmasberg/nx-migration-gh-action@v1.1.2
        with:
          repoToken: ${{ secrets.WORKFLOW_PAT }}
          prTitle: 'chore(deps): migrate nx to $VERSION'
          legacyPeerDeps: 'true'
